body{
    background-color: #f2f4f6;
    color: #000;
}
.category_all{
    padding: 0 10%;
padding-block: 50px;

  
}



.copyright{
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding-block: 50px;
    text-align: center;
}



